/******************************************************************************/
/* Define parameters
/******************************************************************************/

params {
    help = false
    monochrome_logs = false   
    in_dir = ""
    out_dir = ""
    basecalling = false
    bc_config = "dna_r9.4.1_450bps_fast.cfg"
    num_callers = 1
    barcode_kits = "EXP-NBD196"
    skip_qc = false
    merged = false
    nanoplot = true
    nanocomp = true
    barcodes = ""
    miniasm_assembly = false
    flye_assembly = false
    gsize = ""
    asm_coverage = ""
    plasmids = false
    meta = false
    mapping = true
    annotation = true
    mapping = true
    polishing = true
    model = "r941_min_fast_g303"
    t_qc = 4
    t_assembly = 4
    t_polishing = 4
    t_annotation = 4
    t_mapping = 4
    t_overlap = 4
}

docker.enabled = true

process {
    /* if an account on Oxford Nanopore is made, the Docker image can be provided here. Don't forget to uncomment this lines then */
    withName:guppy {
        container = 'genomicpariscentre/guppy:4.4.2'
    }
	withLabel: merge {
        container = "bikc/alpine:3.14.2"
    }
    withLabel: no_merge {
        container = "bikc/alpine:3.14.2"
    }
    withLabel: nanoplot{
        container = "staphb/nanoplot:1.33.0"
    }
    withLabel: nanocomp{
        container = "bikc/nanocomp:1.15.1"
    }
    withLabel: flye{
        container = "staphb/flye:2.8"
    }
    withLabel: miniasm{
        container = "bikc/miniasm:0.3"
    }
    withLabel: mapping{
        container = "staphb/minimap2:2.17"
    }
    withLabel: samtools{
        container = "staphb/samtools:1.11"
    }
    withLabel: racon{
        container = "staphb/racon:1.4.20"
    }
    withLabel: medaka{
        container = "bikc/medaka:1.2.0"
    }
    withLabel: prokka{
        container = "staphb/prokka:1.14.5"
    }
    withLabel: report{
        container = "bikc/report:1.1"
    }
}


executor {
    name = 'local'
    queueSize = 5
    memory = '64 GB'
}


timeline {
  enabled = true
  file = "${params.out_dir}/timeline.html"
}
trace {
  enabled = true
  file = "${params.out_dir}/trace.txt"
}

report {
  enabled = true
  file = "${params.out_dir}/report.html"
}
