/******************************************************************************/
/* Define parameters
/******************************************************************************/

params {
    help = false
    monochrome_logs = false   
    in_dir = ""
    out_dir = ""
    basecall = false
    bc_config = "dna_r9.4.1_450bps_fast.cfg"
    num_callers = 1
    barcode_kits = ""
    skip_qc = false
    no_merge = false
    nanoplot = true
    nanocomp = true
    barcodes = ""
    assemble = true
    assemblyP = 8
    gsize = ""
    asm_coverage = ""
    plasmids = false
    meta = false
    mapping = true
    annotation = true
    mapping = true
    polishing = true
    model = "r941_min_fast_g303"
    threads_polishing = 8
    threads_annotation = 8

}

docker.enabled = true
executor {
    queueSize = 5
    memory = '64 GB'
}


