/******************************************************************************/
/* Define parameters
/******************************************************************************/

nextflow.enable.dsl = true

params {
    in_dir = ""
    out_dir = ""
    barcodes = ""
    ignore_errors = false
    help = false
    monochrome_logs = false 

    qc = true
    t_qc = 4

    trimming = false
    t_trimming = 4

    mapping = true
    t_mapping = 4
    MAPPING_SPECIES_LIST=("human" "candida" "bacteria")
    MAPPING_REF_INDEXES=(
        "$HOME/dRNASeq/reference_genomes/human_ref.mmi"
        "$HOME/dRNASeq/reference_genomes/candida_ref.mmi"
        "$HOME/dRNASeq/reference_genomes/bacteria_index.mmi"
    )
    MAPPING_PARAMS=(
        "-ax splice -N 0"    # human
        "-ax splice -N 0"    # candida
        "-ax map-ont -N 0"   # bacteria
    )

    counting = true
    t_counting = 4
    COUNTING_SPECIES_LIST = ["human", "candida", "bacteria"]
    COUNTING_ANNOTATIONS = [
        "$HOME/dRNASeq/reference_genomes/human_annotation.gtf",
        "$HOME/dRNASeq/reference_genomes/candida_annotation.gtf",
        "$HOME/dRNASeq/reference_genomes/bacteria_annotation.gtf"
    ]

    kraken = true
    t_kraken = 4
    kraken_db = "$HOME/dRNASeq/7.kraken/VMGC_DB/"
}

docker.enabled = true

process {
    withLabel: 'qc'{
        container = "nanopack:v1"
        cpus = params.t_qc
    }
    withLabel: 'trimming'{
        container = "mcfonsecalab/pychopper"
        cpus = params.t_trimming
    }
    withLabel: 'mapping'{
        container = "staphb/minimap2:2.28"
        cpus = params.t_mapping
    }
    withLabel: 'samtools'{
        container = "staphb/samtools:1.21"
        cpus = params.t_mapping
    }
    withLabel: 'report'{
        container = "bikc/report:1.1"
    }
    withLabel: 'counting'{
        container = "mathiasverbeke/bambu_runner:latest"
        cpus = params.t_counting
    }
    withLabel: 'kraken'{
        container : "staphb/kraken2:latest"
        cpus = params.t_kraken
    }
}

executor {
    name = 'local'
    queueSize = 5
    memory = '64 GB'
    cpus = 32
}

timeline {
  enabled = true
  file = "${params.out_dir}/timeline.html"
}
report {
  enabled = true
  file = "${params.out_dir}/report.html"
}
